MyFirstApp/app/src/main/res/layout/activity_main.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RelativeLayout" type="RelativeLayoutType"/>
  <xs:complexType name="ImageViewType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:id" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_width" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_height" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:src" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TextViewType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:id" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_width" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_height" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:text" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:textAppearance" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:textColor" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:textStyle" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_marginTop" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_alignParentRight" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:background" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_marginRight" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:textSize" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RelativeLayoutType">
    <xs:sequence>
      <xs:element type="ImageViewType" name="ImageView"/>
      <xs:element type="TextViewType" name="TextView" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute ref="and:layout_width" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:layout_height" xmlns:and="http://schemas.android.com/apk/res/android"/>
  </xs:complexType>
</xs:schema>